<div class="app">
  <header class="app-header">
    <img src="https://media.istockphoto.com/id/1140548628/photo/fictitious-bank-building-isolated-on-white.jpg?b=1&s=612x612&w=0&k=20&c=DiBHQ6Y_uGrKAdUYeF7LqZhYGFYigcn19brD2FRZyEo=" class="app-logo" alt="logo">
    <h1>Daily Bank</h1>
  </header>
  
  <app-navbar></app-navbar>

  <section>
    <div style="background-image: url(https://img.freepik.com/premium-vector/blue-digital-technology-background-with-white-building-logo-bank_666034-682.jpg);
    background-repeat: no-repeat;background-size: cover;
    min-height: 140vh;max-width: 100vw;">
      <router-outlet></router-outlet>
    </div>
  </section>
  
<footer class='footer'>
  <p>&copy; All Right Reserved to Daily Bank</p>
</footer>
</div>