<h2>Change Password</h2>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <label for="userId">User ID:</label>
  <input id="userId" formControlName="userId" />

  <label for="oldPassword">Old Password:</label>
  <input id="oldPassword" type="password" formControlName="oldPassword" />

  <label for="newPassword">New Password:</label>
  <input id="newPassword" type="password" formControlName="newPassword" />

  <label for="confirmNewPassword">Confirm New Password:</label>
  <input id="confirmNewPassword" type="password" formControlName="confirmNewPassword" />

  <button type="submit">Update Password</button>
</form>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>